@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  color: rgb(242, 244, 246);
}

.title {
  font-size: 3.5rem;
  line-height: 80px;
  color: #ffb703;
  margin-bottom: 40px;
}

.content {
  font-size: 24px;
  margin: 0 0 40px 40px;
  letter-spacing: 2px;
}

.needStyle {
  list-style-type: disc;
}

body {
  font-family: "LXGW WenKai Mono TC", monospace;
  color: #f2f4f6;
  background-color: #023047;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  scroll-margin-top: 80px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #023047;
  border-bottom: 1px solid #f2f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: fixed;
  z-index: 999;
}
header #topBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header #topBtn #logo {
  width: fit-content;
  height: 80px;
  padding: 16px 0;
}
header #topBtn #logo a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
header #topBtn #logo a img {
  height: 100%;
}
header #topBtn .hamburger {
  background-color: transparent;
  border: none;
  display: none;
}
header #topBtn .hamburger .bar {
  display: block;
  /*span預設是inline,不支援寬高 */
  width: 25px;
  height: 3px;
  background-color: #f2f4f6;
  margin: 5px auto;
  /* 左右auto就會置中 */
  transition: 0.35s;
}
header #navbar {
  width: fit-content;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
header #navbar li {
  margin: 0 20px 0 20px;
}
header #navbar li a {
  transition: color 0.2s ease-in-out;
}
header #navbar li:hover a {
  color: #ffb703;
}
header #navbar li:active a {
  color: #fc9701;
}

#Home {
  margin-top: 80px;
}
#Home #hello {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home #hello img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0.4;
}
#Home #hello h1 {
  color: #f2f4f6;
  font-size: 3rem;
}

#Experience .content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#Experience .content .verticalTxt {
  writing-mode: vertical-rl;
  margin-right: 40px;
  text-align: start;
  letter-spacing: 16px;
}
#Experience .content > ul {
  border-left: 2px solid rgba(242, 244, 246, 0.7);
  width: 100%;
}
#Experience .content > ul .timeList {
  margin: 0px 0px 60px 40px;
  padding: 16px;
  border: 2px solid #ffb703;
  position: relative;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
#Experience .content > ul .timeList::after {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 11px;
  border-style: solid;
  /* 上、右、下、左 */
  border-color: transparent #023047 transparent transparent;
  position: absolute;
  right: 99.8%;
  top: 50%;
  transform: translateY(-50%);
}
#Experience .content > ul .timeList::before {
  content: "";
  width: 0px;
  height: 0px;
  border-width: 14px;
  border-style: solid;
  /* 加上這行，確保邊框樣式是實線 */
  border-color: transparent #ffb703 transparent transparent;
  /* 上、右、下、左 */
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* 讓偽元素垂直置中 */
}
#Experience .content > ul .timeList:hover {
  cursor: pointer;
  opacity: 1;
}
#Experience .content > ul .timeList.beClick {
  opacity: 1;
}
#Experience .content > ul .timeList .hide {
  display: none;
}
#Experience .content > ul .timeList .hide ul {
  font-size: 1.25rem;
  padding: 0 0 0 40px;
}
#Experience .content > ul .timeList .hide ul li {
  margin: 0 0 16px 0;
}
#Experience .content > ul .timeList .hide ul li strong {
  color: #ffb703;
}
#Experience .content > ul .timeList .hide span {
  display: block;
  padding: 0 0 20px 20px;
  font-size: 20px;
}
#Experience .content > ul .timeList .spot {
  position: absolute;
  top: 50%;
  left: -43px;
  transform: translate(-50%, -50%) scale(1);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffb703;
}
#Experience #skills {
  display: flex;
  justify-content: center;
}
#Experience #skills .card {
  width: 30%;
  flex-grow: 1;
  height: auto;
  margin: 0 40px 0 0;
  padding: 20px;
  border: 1px solid #ffb703;
  border-radius: 5%;
}
#Experience #skills .card:last-child {
  margin: 0;
}
#Experience #skills .card h4 {
  margin-bottom: 20px;
}
#Experience #skills .card ul {
  font-size: 1.25rem;
}
#Experience #skills .card ul li {
  margin-left: 40px;
  white-space: nowrap;
}

#Projects .projects-box {
  display: flex;
  margin-bottom: 40px;
}
#Projects .projects-box .sz-caption {
  display: none;
}
#Projects .projects-box .sz-hashtag {
  display: none;
}
#Projects .projects-box figure {
  width: 60%;
  height: fit-content;
  margin-right: 40px;
  position: relative;
}
#Projects .projects-box figure img {
  width: 100%;
  height: auto;
}
#Projects .projects-box figure .rise {
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.7);
  transition: height 0.5s ease-in-out;
}
#Projects .projects-box figure .rise a {
  width: 100px;
  height: 60px;
  font-size: 2rem;
  line-height: 60px;
  text-align: center;
  border: 2px solid #f2f4f6;
  border-radius: 10px;
  visibility: hidden;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
#Projects .projects-box figure .rise a:hover {
  border: 2px solid #ffb703;
  color: #ffb703;
}
#Projects .projects-box figure:hover .rise {
  height: 80%;
}
#Projects .projects-box figure:hover a {
  visibility: visible;
  transition: visibility 0.3s 0.2s ease-in-out;
}
#Projects .projects-box .showDetail {
  width: calc(40% - 40px);
  height: fit-content;
}
#Projects .projects-box .showDetail .caption {
  font-size: 2rem;
}
#Projects .projects-box .showDetail .describe {
  border: 1px solid #f2f4f6;
  padding: 8px;
  margin: 16px 0;
  transition: background-color 0.3s ease-in-out;
}
#Projects .projects-box .showDetail .describe:hover {
  cursor: pointer;
  background-color: #2c5f77;
}
#Projects .projects-box .showDetail .describe .subtitle {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
#Projects .projects-box .showDetail .describe .subtitle.rotate {
  opacity: 1;
}
#Projects .projects-box .showDetail .describe .subtitle.rotate svg {
  transform: rotate(270deg);
}
#Projects .projects-box .showDetail .describe .subtitle span {
  font-size: 1.5rem;
}
#Projects .projects-box .showDetail .describe .subtitle svg {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
#Projects .projects-box .showDetail .describe .collapse {
  font-size: 1.25rem;
  padding-top: 8px;
  display: none;
}
#Projects .projects-box .showDetail .describe .collapse li {
  margin: 0 0 16px 40px;
}

#Contact {
  display: block;
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
  padding: 0 80px;
  border-top: 1px solid #f2f4f6;
  text-align: center;
}
#Contact > div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Contact > div div {
  margin: 0 40px 0 0;
  position: relative;
}
#Contact > div div:last-child {
  margin: 0;
}
#Contact > div div:hover {
  cursor: pointer;
}
#Contact > div div p {
  position: absolute;
  padding: 4px;
  top: -100%;
  right: 50%;
  transform: translate(50%, 50%);
  transition: all 0.5s ease-in;
  opacity: 0;
}
#Contact > div #phone svg {
  width: 28px;
}
#Contact > div svg {
  width: 36px;
  height: 36px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
#Contact > div svg:hover {
  opacity: 1;
}

/* 中型設備(平板) =>此設定820以下(抓ipad Air尺寸) */
@media (max-width: 820px) {
  body main section {
    width: 90%;
  }
  header {
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }
  header.show {
    height: 245px;
  }
  header #topBtn #logo {
    width: 24%;
  }
  header #topBtn .hamburger {
    display: block;
  }
  header #topBtn .hamburger.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  header #topBtn .hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  header #topBtn .hamburger.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
  }
  header #navbar {
    width: fit-content;
    height: fit-content;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin: 0 0 40px 0;
  }
  #Experience .content ul .timeList {
    font-size: 1.25rem;
  }
  #Experience .content ul .timeList .hide {
    font-size: 1.5rem;
  }
  #Experience .content ul .timeList .hide ul {
    padding-left: 20px;
  }
  #Experience #skills {
    overflow: scroll;
    justify-content: flex-start;
    scrollbar-width: none;
  }
  #Experience #skills .card {
    width: fit-content;
  }
  #Experience #skills .card h4 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  #Experience #skills .card ul {
    font-size: 1.25rem;
  }
  #Experience #skills .card ul li {
    margin-left: 20px;
  }
  #Projects .projects-box {
    flex-direction: column;
  }
  #Projects .projects-box figure {
    width: 100%;
  }
  #Projects .projects-box .sz-caption {
    display: block;
    font-size: 1.5rem;
  }
  #Projects .projects-box .sz-hashtag {
    display: block;
    margin-bottom: 16px;
  }
  #Projects .projects-box .showDetail {
    width: 100%;
  }
  #Projects .projects-box .showDetail .caption {
    display: none;
  }
  #Projects .projects-box .showDetail .hashtag {
    display: none;
  }
  #Projects .projects-box .showDetail .describe .subtitle span {
    font-size: 1.25rem;
  }
  #Projects .projects-box .showDetail .describe .collapse {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=index.css.map */